[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg
[submodule "packed"]
	path = lib/packed
	url = https://github.com/emacscollective/packed
