[submodule "aider.el"]
	path = lib/aider.el
	url = https://github.com/tninja/aider.el
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el
[submodule "annalist"]
	path = lib/annalist
	url = https://github.com/noctuid/annalist.el
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg
[submodule "compat"]
	path = lib/compat
	url = https://github.com/phikal/compat.el
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult
[submodule "corfu"]
	path = lib/corfu
	url = https://github.com/minad/corfu
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl
[submodule "dirvish"]
	path = lib/dirvish
	url = https://github.com/alexluigit/dirvish
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = https://github.com/seagle0128/doom-modeline
[submodule "doom-themes"]
	path = lib/doom-themes
	url = https://github.com/doomemacs/themes
[submodule "ellama"]
	path = lib/ellama
	url = https://github.com/s-kostyaev/ellama
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/magit/emacsql
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark
[submodule "evil"]
	path = lib/evil
	url = https://github.com/emacs-evil/evil
[submodule "evil-args"]
	path = lib/evil-args
	url = https://github.com/wcsmith/evil-args
[submodule "evil-collection"]
	path = lib/evil-collection
	url = https://github.com/emacs-evil/evil-collection
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
[submodule "general.el"]
	path = lib/general.el
	url = https://github.com/noctuid/general.el
[submodule "git-auto-commit-mode"]
	path = lib/git-auto-commit-mode
	url = https://github.com/ryuslash/git-auto-commit-mode
[submodule "goto-chg"]
	path = lib/goto-chg
	url = https://github.com/emacs-evil/goto-chg
[submodule "gptel"]
	path = lib/gptel
	url = https://github.com/karthink/gptel
[submodule "indent-bars"]
	path = lib/indent-bars
	url = https://github.com/jdtsmith/indent-bars
[submodule "libegit2"]
	path = lib/libegit2
	url = https://github.com/magit/libegit2
[submodule "llama"]
	path = lib/llama
	url = https://github.com/tarsius/llama
[submodule "llm"]
	path = lib/llm
	url = https://github.com/ahyatt/llm
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "mixed-pitch"]
	path = lib/mixed-pitch
	url = https://gitlab.com/jabranham/mixed-pitch
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
[submodule "org-roam"]
	path = lib/org-roam
	url = https://github.com/org-roam/org-roam
[submodule "packed"]
	path = lib/packed
	url = https://github.com/emacscollective/packed
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = https://github.com/vedang/pdf-tools
[submodule "plz"]
	path = lib/plz
	url = https://github.com/alphapapa/plz.el
[submodule "plz-event-source"]
	path = lib/plz-event-source
	url = https://github.com/r0man/plz-event-source
[submodule "plz-media-type"]
	path = lib/plz-media-type
	url = https://github.com/r0man/plz-media-type
[submodule "poly-erb"]
	path = lib/poly-erb
	url = https://github.com/polymode/poly-erb.git
[submodule "polymode"]
	path = lib/polymode
	url = https://github.com/polymode/polymode
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe
[submodule "rust-mode"]
	path = lib/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "shrink-path"]
	path = lib/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el
[submodule "solaire-mode"]
	path = lib/solaire-mode
	url = https://github.com/hlissner/emacs-solaire-mode
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el
[submodule "tablist"]
	path = lib/tablist
	url = https://github.com/politza/tablist
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient
[submodule "use-package"]
	path = lib/use-package
	url = https://github.com/jwiegley/use-package
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column
[submodule "wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep
[submodule "which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
[submodule "ws-butler"]
	path = lib/ws-butler
	url = https://github.com/lewang/ws-butler
